"*":
  core:
    audioBeep: false
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "*.pyc"
    ]
    projectHome: "/Users/oliver/Code"
    themes: [
      "spacegray-eighties-ui"
      "base16-eighties-one-dark"
    ]
  editor:
    tabLength: 4
  "exception-reporting":
    userId: "e69a5e3d-6ba7-05af-68d0-eaf0aff5d9e8"
  "linter-flake8":
    executablePath: "/usr/local/bin/flake8"
  "tree-view":
    autoReveal: true
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
